@import "tailwindcss";

@layer base {
  body {
    background-color: #0b0f17;
    color: #f8fafc;
    font-family: var(--font-inter), sans-serif;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0f17;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

.bg-slate-850 {
  background-color: #111827;
}
